.main_page {
    display: flex;
}

.main_page > ul {
    list-style: none;
    padding: 2rem;
}

.main_page > nav > ul {
    width: 15vw;
}

.main_page > nav > ul > li {
    height: 3rem;
}

.logout {
    text-decoration: underline;
}
