.form_auth {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    width: 30vw;
    margin: 2rem auto;
}

.form_auth > input {
    text-align: center;
    margin: 2rem auto;
    height: 2.5rem;
}

.form_connexion {
    width: 30vw;
    margin: 0 auto;
    margin-bottom: 20vh;
}
.input_connexion {
    width: 100%;
}
.margin_form_auth {
    margin: 5rem auto;
}

button {
    background-color: #4169E1;
    border: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}

.form_select {
    padding: 0 15px;
    height: 2.5rem;
    color: gray;
}

.alert_message {
    width: 30vw;
    color: red;
    margin: auto auto;
}

.test {
    width: 80%;
}

.test {
    width: 100%;
}