.one {
    grid-column: 1/5;
    grid-row: 1;
}
.one_2 {
    grid-column: 1/5;
    grid-row: 2;
}
.two {
    grid-column: 9/-1;
    grid-row: 1;
}
.three {
    grid-column: 2/12;
    grid-row: 1;
}
.four {
    grid-column: 2/5;
    grid-row: 4;
}
.div_main_page {
    width: 100%;
}

.table_add_item {
    border-collapse: collapse
}
.part_number {
    font-size: 0.8rem;
    margin: auto auto;
}
.form_items {
    width: 75%;
    text-align: center;
    margin: 3rem auto;
}
.select_items {
    display: block;
}
.input_new_ligne {
    width: 90%;
}
