
nav {
    background-color: #404040;
    width: 15vw;
    min-height: calc(100vh - 8rem);
}

.nav_item > a {
    color: whitesmoke;
}

.main_page > nav > ul > li {
    text-align: left;
    padding-left: 2rem;
}

.nav_item:hover {
    background-color: #696969;
}
