footer {
    background-color: #282828;
    height: 4rem;
    color: whitesmoke;
    text-align: center;
    display: flex;
    align-self: center;
}

footer > p {
    margin: auto auto;
    align-self: center;
}