/* GRID */
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin: 2rem;
  }

body {
    min-height: 100%;
    position: relative;
}

.table_side {
    margin: 2rem auto;
    width: 100%;
}

footer {
    bottom: 0;
    width: 100%;
}

.center {
    text-align: center;
}
.mxauto {
    margin: 0 auto;
}

.table {
    width: 50vw;
    margin: 0rem auto;
    margin-bottom: 10rem;
}

.table > tbody > tr > td {
    text-align: center;
}

.table_head {
    background-color: #282828;
    color: whitesmoke;
}

.table_head, tr {
    height: 2.5rem;
}

.lightgrey {
    background-color: lightgrey;
}

.grey {
    background-color: grey;
}

.main_page {
    min-height: 80vh;
}

.table_side > button {
    width: 250px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 10rem auto;
    width: 70vw;
}
.bg_white {
    background-color: white;
}
.red_color {
    color: #DC143C;
}
.green_color {
    color: #17D573;
}
.delete_button {
    background-color: #DC143C;
}
td {
    text-align: center;
}
.flex {
    display: flex;
}

.add_button, .default_button {
    margin: 1rem auto;
}
.button_default {
    padding: .5rem 10px;
    margin: 2rem auto;
}

.align_center {
    align-self: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
table {
    border-collapse: collapse;
}


/* FONT STYLE */
.italic {
    font-style: italic;
}
.gras {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #181818;
}

p, a, h1, h2, h3, label {
    font-family: 'Roboto', sans-serif;
}

.border_circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.white {
    color: white;
}

h3 {
    text-align: center;
}