header {
    background-color: #282828;
    height: 4rem;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

header > .h2_header_logo {
    margin: 0;
    align-self: center;
}

.select_site {
    height: 50%;
    align-self: center;
    width: 15vw;
}

.h2_site {
    padding: 0 2rem;
}